<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.2.0" package="com.happyzhang.HappyCalculator" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="29" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<application android:label="高兴计算" android:icon="@drawable/icon"></application>
</manifest>