<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>segmdl2.ttf</string>
    <string>seguisym.ttf</string>
    <string>help.html</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcon.appiconset</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>计算器</string>
	<key>CFBundleIdentifier</key>
	<string>com.happyzhang.Calculator</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
